    <!-- all org list -->
    <div class="row ">
        {% if organisation_list %}
            {% for org in organisation_list.qs  %}

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 my-2  ">

                <div class="card shadow border-left-info "
                    style="border-radius:10px; border-left:5px solid #87c1f5;border-right:5px solid #87c1f5;min-height: 350px;">
                    <div class="card-body">
                        <h4 class="card-title text-primary"> {{ org.name}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted pb-2"> {{ org.thana}}, {{ org.district}},
                            {{ org.division}} </h6>

                        <div class="card-text">
                            {{ org.about|safe|truncatechars:200 }}
                        </div>

                        <!-- <div class="col text-right" style="><i class="fas fa-clipboard-list fa-3x text-secondary" aria-hidden="true"></i></div> -->
                    </div>
                    <div class="card-footer ">

                        <a href=" {{ org.org_detail.facebook_url}}" class="card-link  text-primary"> <i
                                class="fab fa-facebook "></i>
                            ফেসবুক </a>
                        {% if org.website_url %}
                        <a href="{{ org.org_detail.website_ur}}" class="card-link  text-primary"><i
                                class="fas fa-globe ">ওয়েব</i></a>
                        {% endif %}
                        <a href="{% url 'orgApplication:org-detail' pk=org.pk %}" class="card-link  text-danger"
                            style="float:right;text-decoration: underline;">বিস্তারিত</a>
                    </div>
                </div>

            </div>
            
       
     {% endfor %}
    {% endif %}
     
    </div><!-- .row -->