{% extends 'orgApp/org_profile_parent.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block org_profile %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime=" "><span class="large text-primary">প্রতিষ্ঠানের</span>  <span class="large text-primary">সংক্ষিপ্ত বিবরণ </span></time>
                    <div class="cbp_tmicon bg-success"><i class="zmdi zmdi-account"></i></div>
                    <div class="cbp_tmlabel empty "> <span class="text-dark large">{{organisation.about}}</span> </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime=""><span style="font-size: 18px;" class="large text-primary">যোগাযোগের<br>ঠিকানা </span> <span class="large text-primary " ></span></time>
                    <div class="cbp_tmicon bg-info"><i class="zmdi zmdi-label"></i></div>
                    <div class="cbp_tmlabel">
                       <div class="row align-items-center">
                           <div class="col-sm-5 p-2 m-2 align-self-center" style="border-right: 4px solid #2CA8FF;">
                               <p> <strong>মোবাইল : </strong> {{organisation.phone}} </p>
                               <p> <strong>ইমেইল : </strong> <a href="mailto:{{organisation.email}}">{{organisation.email}}</a> </p>
                           </div>
                           <div class="col-sm-5 p-2 m-2 align-self-center">
                            <p> <strong>ওয়েবসাইট : </strong> <a href="{{ organisation.org_detail.website_url}} ">{{organisation.org_detail.website_url}} </a> </p>
                            <p> <strong>ফেসবুক পেজ : </strong> <a href="{{organisation.org_detail.facebook_url}} ">{{organisation.org_detail.facebook_url}} </a></p>
                           </div>
                       </div>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime=""><span style="font-size: 18px;" class="large text-primary">প্রতিষ্ঠানের<br>ঠিকানা </span> <span class="large text-primary " ></span></time>
                    <div class="cbp_tmicon bg-orange"><i class="zmdi zmdi-label"></i></div>
                    <div class="cbp_tmlabel">
                       <div class="row">
                           <div class="col-sm-5 p-2 m-2" style="border-right: 4px solid orange;">
                               <p> <strong>বিভাগ : </strong> {{organisation.division}} </p>
                               <p> <strong>জেলা : </strong> {{organisation.district}} </p>
                           </div>
                           <div class="col-sm-5 p-2 m-2">
                            <p> <strong>থানা : </strong> {{organisation.thana}} </p>
                            <p> <strong>পোস্ট কোড : </strong> {{organisation.postal_area}} </p>
                           </div>
                       </div>
                    </div>
                </li>
               
               
            </ul>  
        </div>
    </div>
</div>

{% endblock org_profile %}