{% load static %}
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="fb-profile-block">
                <div class="fb-profile-block-thumb cover-container" style="background-image: url({% static 'images/org_profile.jpg' %});background-repeat: no-repeat;
                background-size: auto;"></div>

                <div class="profile-img">
                    <a href="#">
                        <img src="{% static 'images/org_default_logo.jpg' %}" alt="" title="">
                    </a>
                </div>
                <div class="profile-name">
                    <h2 class="text-golden p-2">{{organisation.name}}</h2>
                </div>

                <div class="fb-profile-block-menu">
                    <div class="block-menu">
                        <ul>
                            <li><a class="text-danger" href="{% url 'orgApplication:org-detail' pk=organisation.pk %}"">সকল তথ্য</a></li>
                            <li><a href="{% url 'orgApplication:org-detail' pk=organisation.pk %}#running">চলতি প্রজেক্ট </a></li>
                            <li><a href="{% url 'orgApplication:org-detail' pk=organisation.pk %}#all-project"> সকল প্রজেক্ট </a></li>
                            {% block list_add %}
                            {% endblock list_add %}
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

