{% extends 'base_temp.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block script %}
	<link rel="stylesheet" href="{% static  'corunaApp/css/main.css' %} " />
	<link rel="stylesheet" href="{% static  'corunaApp/css/news.css' %} " />
	<noscript>
		<link rel="stylesheet" href="{% static 'corunaApp/css/noscript.css' %}" />
	</noscript>
{% endblock script %}



{% block content %}



<div class="bg-gradient-4" style="padding-bottom:45px;">
	
	<!-- Wrapper -->
	<div id="wrapper" style="height: 90%;">

		<!-- Header -->
		<header id="header"  >
			<div class="" >
				
				<img src="{% static 'corunaApp/images/coron-logo.png' %}" class="logo" alt="Corona" />
			</div>
			<div class="content" style="font-family: 'SolaimanLipi' !important;">
				<div class="inner">
					<h1>সহায়তা
						</h1>
					<span style="font-size:18px;font-family: 'SolaimanLipi' !important;">বাংলাদেশের অসহায়েদের মোকাবিলার জন্য এটা ওপেন সোর্স প্রজেক্ট । <br> আপনারা যে কেউ যে কোন সময় আমাদের প্রজেক্টে অংশগ্রহন করতে পারেন</span>
				</div>
			</div>
			<nav class="bg-gradient-4" style="width:100%;height:90%;">
				<ul>
					<li><a href="#intro">সংস্থার উদ্দেশ্য </a></li>
					<!-- <li><a style="font-size:16px" href="{% url 'news' %}#news">করোনা সংবাদ</a></li> -->
					<li><a style="font-size:16px" href="#work">আমাদের কাজ</a></li>
					<li><a style="font-size:16px" href="#about">আমরা কারা</a></li>
					<li><a style="font-size:16px" href="{% url 'email' %}#contact">যোগাযোগ</a></li>
					<!--<li><a href="#elements">Elements</a></li>-->
				</ul>
			</nav>
		</header>


		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<article id="intro">

				<h2 class="major">সংস্থার উদ্দেশ্য কী?</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic01.jpg' %} " alt="" /></span>
				<p>
					এখানে বাংলাদেশের সকল বিশ্বস্ত সামাজিক কল্যান মূলক প্রতিষ্ঠান গুলো একসাথে পাওয়া যাবে ।
					একসাথে করে সেবা দান করাই আমাদের লক্ষ ।

				</p>

				
			</article>

		
			<!-- Work -->
			<article id="work">
				<h2 class="major">আমাদের কাজ</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic02.jpg' %}" alt="" /></span>
				<p>
					 এক দল কম্পিউটার প্রোগ্রামার ভলান্টিয়ার যারা একটি ওপেন সোর্স প্রজেক্ট করছি বাংলাদেশের যেকোন পরিস্থিতি মোকাবিলার জন্য আমরা উন্মুক্ত পদ্ধতিতে কাজ করি । যে কেউ যে কোন
					সময় আমাদের প্রজেক্টে অংশগ্রহন করতে পারেন । যে কেউ যে কোন কাজে আমাদের এই প্রজেক্টের সমস্ত উপাদান
					ব্যাবহার করতে পারেন । আমাদের সাথে গিটহাবে অথবা আমাদের সামাজিক মাধ্যমগুলোর সাহায্যে আমাদের সাথে
					যোগযোগ করতে পারেন । এই প্রজেক্টটি সম্পুর্ন সেচ্ছা শ্রমে করা ।

				</p>
				<p>
					সবার জন্য শুভকামনা ।
				</p>
			</article>

			<!-- About -->
			<article id="about">
				<h2 class="major">কী করবো?</h2>
				<span class="image main"><img src="{% static 'corunaApp/images/pic03.jpg ' %} " alt="" /></span>
				<p>
					একটি এপ্লিকেশন তৈরী করবো যা আমাদের বাংলাদেশের যেকোন পরিস্থিতি প্রতিরোধে সম্মিলিতো প্রচেস্টার প্রতিফলন হয় যেখানে এসে
					মানুষ সেবা পায় । একই সাথে এই এপ্লিকেশনটা যেন এই সময়ের প্রতিফলন হয়ে দাড়ায় ।
				</p>
			</article>

			<!-- Contact -->
			<article id="contact">
				<h2 class="major">Contact</h2>
				<form method="POST" novalidate>
					{% csrf_token %}

					<div class="fields">
						<div class="field half">
							{{ form.name.label_tag }}
							{{ form.name.errors }}
							{{ form.name }}

						</div>
						<div class="field half">
							{{ form.email.label_tag }}
							{{ form.email.errors }}
							{{ form.email }}
						</div>
						<div class="field">
							{{ form.message.label_tag }}
							{{ form.message.errors }}
							{{ form.message }}
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Send Message" class="primary" /></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</form>
				<ul class="icons">
					<!--<li ><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
						<li><a href="https://www.facebook.com/Coronavirussocialwelfare/" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.youtube.com/playlist?list=PLSQ_pVMGfBaPipBOXnCze267aS8EPxe8_" target="_blank" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
						<li><a href="https://github.com/sushen/coronavirus" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
			</article>

			{% comment %} login {% endcomment %}

			<article id="login">
				<h2 class="major">Login</h2>
				 <div class="row">
					<div class="input-field col s12">
						<label for="email">Email</label>
						<input id="email" type="email" class="validate">
					
						<button class="btn waves-effect waves-light" id='login-btn' type="button" name="login-btn" onclick="signin()">Login
						</button>	

					</div>
				</div>
			</article>

		

		</div>

	</div>

	<!-- BG -->
	<!-- <div id="bg"></div> -->



</div>

	 <!-- coruna app script file -->
    <!-- Scripts -->
	<script src="{% static 'corunaApp/js/jquery.min.js' %} "></script>
	<script src="{% static 'corunaApp/js/browser.min.js' %} "></script>
	<script src="{% static 'corunaApp/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'corunaApp/js/util.js' %}"></script>
	<script src="{% static 'corunaApp/js/main.js' %}"></script>
  
	  <!-- coruna app script end -->

{% endblock %}